/* Estilo del header (transparente) */
#header {
  position: sticky;
  top: 50px;
  left: 0;
  background-color: rgba(255, 255, 255, 0); /* Transparente al inicio */
  transition: background-color 0.3s ease; /* Transición suave */
  z-index: 1300; /* Header por encima del contenido */
}

/* Estilo del header al hacer scroll */
#header.scrolled {
  background-color: #02557d; /* Cambia color al hacer scroll */
  top: 0px;
}

/* Estilo del texto dentro del header */
#header a,
#header span,
#header p {
  color: #fff; /* Color original del texto */
  transition: color 0.3s ease; /* Transición suave */
}

/* Estilo del texto dentro del header al hacer scroll */
#header.scrolled a,
#header.scrolled span,
#header.scrolled p {
  color: #fff; /* Cambia color del texto a blanco */
}

/* Estilo del icono SVG dentro del header */
#header svg path {
  stroke: #fff; /* Color original del icono SVG */
  transition: stroke 0.3s ease; /* Transición suave */
}

/* Estilo del icono SVG dentro del header al hacer scroll */
#header.scrolled svg path {
  stroke: #fff; /* Cambia color del icono SVG a blanco */
}

.content {
  padding-top: 70px; /* Evitar que el contenido se oculte por el header */
}

.logo {
  width: 85px;
  height: auto;
}

.nav-superior {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Posiciona el nav superior encima del hero */
}

.header {
  position: sticky;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 900; /* Posiciona el header encima del hero */
}

.hero-video {
  position: relative;
  top: -155px;
  left: 0;
  max-width: 100%;
  margin-bottom: -100px;
  height: 100vh;
  overflow: hidden;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #02557d;
  opacity: 0.5; /* Ajusta la opacidad del overlay */
}

.ctn {
  position: absolute;
  margin: 0px 0px 0px 100px;
  left: 0;
  z-index: 1200;
  color: #fff;
}

.form-control.pill {
  color: #666f88;
}

.form-control.pill::placeholder {
  color: #788199;
}

.form-control.area {
  color: #666f88;
}

.form-control.area::placeholder {
  color: #788199;
}

/* Ajusta la posición del hero para que se encuentre detrás de los demás elementos */
.hero-video {
  transform: translateZ(-1px);
}

.btn-hover {
  background-color: ;
  border: 1px solid;
  border-color: #ff9900;
  color: #ff9900;
}

.btn-hover:hover {
  background-color: #ff9900;
  color: #ffffff;
}

.doble {
  border-bottom: 7px solid #02557d;
  box-shadow: 0 7px 0 #ff9900;
}

.about{
  display:block;
  width: 450px  
}

.bgurl{
  //width: 100%;
  height: 300px;
  background-image: url('~/../../assets/images/BACKGROUND BENEFITS.png');
  background-size: cover;  
  background-repeat: no-repeat;
}

.figure {
  background-color: #fff;
  border-radius: 50%;
  //padding: 10px;
  display: inline-block;
  width: 120px;
  height: 120px;
}

.figure img {
  transform: scale(0.5);
  border-radius: 50%;
}

.cbg1{
  background-image: url('~/../../assets/images/IMAGECATEGORYADMINISTRATION.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
}

.cbg2{
  background-image: url('~/../../assets/images/IMAGECATEGORYACCOUNTING.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
}

.cbg3{
  background-image: url('~/../../assets/images/IMAGECATEGORYARCHITECTURE.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
  
}

.cbg4{
  background-image: url('~/../../assets/images/IMAGECATEGORYMATHEMATICS.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
  
}

.cbg5{
  background-image: url('~/../../assets/images/IMAGECATEGORYPROGRAMMING.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
  
}

.cbg6{
  background-image: url('~/../../assets/images/IMAGECATEGORYBIOLOGY.jpg');
  background-size: cover;  
  background-repeat: no-repeat;
  
}

.ctn2{
  margin-top: 60px;
}

.card-bodyc {
  position: relative;
  padding-bottom: 60px; /* espacio para el título y el botón */
}

.card-titlec {
  position: absolute;
  bottom: 60px;
  left: 20px;
}

.card-textc {
  margin-bottom: 60px; /* espacio para el título y el botón */
}

.btnc {
  position: absolute;
  bottom: 15px;
  left: 20px;
}


@media only screen and (max-width: 768px) {
  .hero-video {
    top: -230px;
    margin-bottom: -175px;
  }
}
